## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

 What is 7 to the power of 4

In [6]:

print(7**4);

2401

Split this string:

    s = "Hi there Sam!"
    
into a list.

In [4]:
s = "Hi there Sam!"
s.split(" ")

['Hi', 'there', 'Sam!']

In [5]:
s = "Hi there dad!"
s.split(" ")

['Hi', 'there', 'dad!']

 Given the variables:

    planet = "Earth"
    diameter = 12742

 Use .format() to print the following string: 

    The diameter of Earth is 12742 kilometers.

In [7]:

planet = "Earth"
diameter = 12742

In [8]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

 Given this nested list, use indexing to grab the word "hello"

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
lst[3][1][2][0]

'hello'

Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky

In [11]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

 What is the main difference between a tuple and a list?

In [13]:
# Tuple is immutable
#Tuples operations are safe.
#Tuples consumes less memory.
#The list is dynamic, whereas the tuple has static characteristics. 
#This means that lists can be modified whereas tuples cannot be modified.
#The tuple is faster than the list because of static in nature.
# Lists are denoted by the square brackets but tuples are denoted as parenthesis.

 Create a function that grabs the email website domain from a string in the form:

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [14]:
def domainGet(email):
    return email.split('@')[-1]

In [15]:
domainGet('user@domain.com')

'domain.com'

 Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [16]:
def findDog(st):
    return 'dog' in st.lower().split()

In [17]:
findDog('Is there a dog here?')

True

Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [18]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [19]:
countDog('This dog runs faster than the other dog dude!')

2

 Problem
 
You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases.

In [20]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [21]:
caught_speeding(85,False)

'Big Ticket'

In [22]:
caught_speeding(85,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [1]:
employees = ["Aji","Mamtha","Deepak","Xavier","Abishek"]
salary={}
for emp in employees:
  try:
    amount=int(input(f'Enter salary for {emp}: '))
    salary[emp]=amount
  except ValueError:
    print(f'Wrong salary input for {emp} ')
print(salary)
print('Total Salary Expenditure : ',sum(salary.values()))

Enter salary for Aji: 30000
Enter salary for Mamtha: 20000
Enter salary for Deepak: 50000
Enter salary for Xavier: 10000
Enter salary for Abishek: 60000
{'Aji': 30000, 'Mamtha': 20000, 'Deepak': 50000, 'Xavier': 10000, 'Abishek': 60000}
Total Salary Expenditure :  170000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [23]:
dict1={"Empid":102,"Empname":"Ann","Basicpay":50000}
dict2={"DeptName":"Cse","DeptId":204}
dict1.update(dict2)
print(dict1)

{'Empid': 102, 'Empname': 'Ann', 'Basicpay': 50000, 'DeptName': 'Cse', 'DeptId': 204}