## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(7**4);

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there dad!"

In [ ]:
s.split()

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable
#Tuples operations are safe.
#Tuples consumes less memory.
#List and Tuple in Python are the classes of Python Data Structures.
#The list is dynamic, whereas the tuple has static characteristics. 
#This means that lists can be modified whereas tuples cannot be modified, the tuple is faster than the list because of static in nature.
#Lists are denoted by the square brackets but tuples are denoted as parenthesis.
#The implication of iterations in list is Time-consuming whereas in Tuple, implication of iterations is comparatively Faster.
#The list is better for performing operations, such as insertion and deletion.
#Tuple data type is appropriate for accessing the elements.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
    return email.split('@')[-1]

In [ ]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
    return 'dog' in st.lower().split()

In [ ]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [ ]:
countDog('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

In [ ]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [2]:
employees = ["Sophia","NK","Varsha","Xavier","Abishek"]
salary={}
for emp in employees:
  try:
    amount=int(input(f'Enter salary for {emp}: '))
    salary[emp]=amount
  except ValueError:
    print(f'Wrong salary input for {emp} ')
print(salary)
print('Total Salary Expenditure : ',sum(salary.values()))

Enter salary for Sophia: 20000
Enter salary for NK: 50000
Enter salary for Varsha: 40000
Enter salary for Xavier: 60000
Enter salary for Abishek: 90000
{'Sophia': 20000, 'NK': 50000, 'Varsha': 40000, 'Xavier': 60000, 'Abishek': 90000}
Total Salary Expenditure :  260000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [1]:
d1={'Empid':100,'Empname':'Sophia','Basicpay':20000}
d2={'DeptName': 'R & D','DeptID':'RD900'}
d1.update(d2)
print("Combined Dictionary is:")
print(d1)

Combined Dictionary is:
{'Empid': 100, 'Empname': 'Sophia', 'Basicpay': 20000, 'DeptName': 'R & D', 'DeptID': 'RD900'}